# ==========================================
# NexoDocs - Environment Variables Template
# ==========================================

# Environment
NEXODOCS_ENV=

# n8n
N8N_HOST=
N8N_PROTOCOL=
N8N_ENCRYPTION_KEY=

# OpenAI
OPENAI_API_KEY=

# Qdrant
QDRANT_URL=
QDRANT_API_KEY=